@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

/* CUSTOM SCROLL BAR */
body{
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  dispay: none !important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
}
*::-webkit-scrollbar-thumb :hover {
  background-color: rgb(100, 100, 100);
}

.canvas-element {
  transform-origin: center;
  transform-box: fill-box;
}

@layer components {
  .debug {
    @apply outline outline-red-500;
  }
  .dead-center {
    @apply flex items-center justify-center;
  }
  .full-screen {
    @apply h-screen w-screen;
  }
  .full-space {
    @apply h-full w-full;
  }
  .range {
    @apply appearance-none
    w-full
    h-2
    rounded-full
    p-0
    border
    out-of-range:bg-red-500
    in-range:bg-blue-200
    focus:outline-none focus:ring-0 focus:shadow-none;
  }
  .small-black-box {
    @apply absolute h-2 
    aspect-square 
    bg-white 
    border 
    border-black 
    -translate-x-1/2 
    -translate-y-1/2 
    cursor-pointer;
  }

  .btn {
    @apply bg-black 
    text-white 
    rounded-full 
    p-3 
    uppercase 
    text-center
    font-bold 
    tracking-[.3em] 
    disabled:border-2
    hover:text-gray-700
    cursor-pointer
    transition;
  }
}

@keyframes shrink {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.open-anim {
  animation: shrink 500 liner 0 forwards;
  background-color: red;
}

.close-anim {
  animation: shrink 500 liner 0 forwards reverse;
  background-color: pink;
}
